.input {
    height: 40px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    padding: 0 16px;
}

.input__error {
    border: solid 1px red;
}

.input::placeholder {
    font-size: 12px;
    color: #bbbbbb;
}

input:focus {
    outline: none !important;
    border: solid 1px #019160;
}

.input__icon {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
}